{% extends "core/wrapper.html" %}

{% block content %}
{% load static %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <span class="heading">РЕДАКТИРОВАНИЕ ПРОФИЛЯ</span>
                <div class="form-group">
                    <span class="has-float-label">
                        <label for="artist">Аватар</label>
                        {{ form.avatar }}
                    </span>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="title">Телефон</label>
                        {{ form.phone }}
                    </span>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="image">Имя</label>
                        {{ form.first_name }}
                    </span>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="audio_file">Фамилия</label>
                        {{ form.last_name }}
                    </span>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="audio_file">Страна</label>
                        {{ form.country }}
                    </span>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="audio_file">Город</label>
                        {{ form.city }}
                    </span>
                </div>

                <div class="text-xs-center">
                    <button class="btn btn-block btn-default" type="submit">Загрузить</button>
                </div>
            </form>
            </div>
        </div>
    </div>

{% endblock %}