{% extends "core/wrapper.html" %}

{% block content %}
{% load static %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <span class="heading">ОСТАВЬТЕ ОТЗЫВ О ВЫБРАННОЙ ПЕСНЕ</span>
                <div class="form-group">
                    <span class="has-float-label">
                        <label for="artist">Имя исполнителя</label>
                        {{ form.artist }}
                    </span>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="title">Название песни</label>
                        {{ form.title }}
                    </span>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="image">Отзыв</label>
                        {{ form.feedback }}
                    </span>
                </div>

                <div class="text-xs-center">
                    <button class="btn btn-block btn-default" type="submit">Оставить отзыв</button>
                </div>
            </form>
            </div>
        </div>
    </div>

{% endblock %}