{% extends "core/wrapper.html" %}

{% block content %}
{% load static %}
{% csrf_token %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <img style="width: 180px; height: 180px" src="/media/{{ profile.avatar }}">
                    </div>

                    {% if profile.user == user %}
                    <div class="row justify-content-center">
                        <a href="/profile/{{profile.slug}}/editprofile">
                            <button class="btn btn-primary">Редактировать профиль</button>
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="/profile/{{profile.slug}}/addsong">
                            <button class="btn btn-primary">Загрузить аудиозапись</button>
                        </a>
                    </div>
                    {% else %}
                    <div class="row justify-content-center">
                        <button class="btn btn-primary" type="submit">Подписаться</button>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-primary" type="submit">Написать сообщение</button>
                    </div>
                    {% endif %}

                    <div class="row justify-content-center">
                        <a href="/profile/{{profile.slug}}/givefeedback">
                            <button class="btn btn-primary">Оставить отзыв о песне</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="display-3">{{ profile.first_name }} {{ profile.last_name }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Страна:</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{ profile.country }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Город:</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>{{ profile.city }}</h5>
                    </div>
                </div>
                <div class="container row" style="background: grey; height: 1px; margin-top: 10px; margin-bottom: 10px;">
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Подпиcчики</h6>
                        <h6>{{ profile.subscribers }}</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Подписки</h6>
                        <h6>{{ profile.subscriptions }}</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Количество треков</h6>
                        <h6>{{ profile.song_count }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for song in Songs %}

    <div class="container" style="margin-top: 100px">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <img style="display: block; height: 115px; width: 115px; float: right;" src="{{song.image.url}}">
                    </div>
                    <div class="row justify-content-center">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button class="btn btn-primary" type="submit">Лайкнуть</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{song.artist}}</h4>
                        <h6>{{song.title}}</h6>
                        <h6>Лайков: {{song.likes}}</h6>
                        <audio controls>
                            <source src="{{song.audio_file.url}}">
                            <p>Ваш браузер не поддерживает аудио</p>
                        </audio>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h6>{{song.feedback}}</h6>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js">
  </script>
  <script src="{% static './script.js' %}">
  </script>