{% extends "core/wrapper.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <span class="heading">АВТОРИЗАЦИЯ</span>
                <div class="form-group">
                    {{ form.username }}
                    <i class="fa fa-user"></i>
                </div>

                <div class="form-group help">
                    {{ form.password }}
                    <i class="fa fa-lock"></i>
                </div>

                <div class="form-group">
                    <p>Забыли пароль? <a href="/password-reset/">Восстановить пароль</a></p>
                    <button class="btn btn-primary" type="submit">Вход</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}