{% extends "core/wrapper.html" %}

{% block content %}
    <div style="background: lightpink" class="carousel slide" data-ride="carousel" id="slides">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h1 class="display-2">Добро пожаловать</h1>
                    <h3 style="margin-bottom: 200px">Слушайте, делитесь и обсуждайте музыку</h3>
                    <button type="button" class="btn btn-outline-dark btn-lg">
                        <a href="login" style="color: black">Авторизация</a>
                    </button>
                    <button type="button" class="btn btn-outline-dark btn-lg">
                        <a href="registration" style="color: black">Регистрация</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}