{% extends 'core/wrapper.html' %}

{% block content %}
<div class="container">
    <div class="justify-content-center">
        <h3>Введите новый пароль</h3>
        <p>Пожалуйста, введите дважды ваш новый пароль</p>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="Обновить пароль">
        </form>
    </div>
</div>
{% endblock %}