{% extends 'core/wrapper.html' %}

{% block content %}
<div class="container">
    <div class="justify-content-center">
        <h3>Инструкция по востановлению пароля была отправлена</h3>
        <p>Следуйте инструкции, отправленной на вашу почту для того, чтобы восстановить пароль от вашего аккаунта</p>
        <p>Если вы не получили инструкцию, убедитесь в правильности ввода email адресса</p>
    </div>
</div>
{% endblock %}