{% extends 'core/wrapper.html' %}

{% block content %}
<div class="container">
    <div class="justify-content-center">
        <h3>Пароль успешно восстановлен</h3>
        <p>Вы можете войти в свой аккаунт с помощью нового пароля</p>
        <a href="/login/">Авторизация</a>
    </div>
</div>
{% endblock %}