{% extends 'core/wrapper.html' %}

{% block content %}
<div class="container">
    <div class="justify-content-center">
        <h3>Сброс пароля</h3>
        <p>Забыли ваш пароль? Введите ваш email и мы отправим на него инструкцию по востановлению вашего пароля</p>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="Отправить">
        </form>
    </div>
</div>
{% endblock %}