{% extends "core/wrapper.html" %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <img class="" style="width: 180px" src="{% static 'img/ava.jpg' %}">
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" type="submit">Загрузить фотографию</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="display-3">Имя Фамилия</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Страна:</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Название страны</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h5>Город:</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>Название города</h5>
                    </div>
                </div>
                <div class="container row" style="background: grey; height: 1px; margin-top: 10px; margin-bottom: 10px;">
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6>Подпичики</h6>
                        <h6>999</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Подписки</h6>
                        <h6>999</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Колличество треков</h6>
                        <h6>999</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 justify-content-center">
                <h6 class="display-4" style="margin-bottom: 30px">Ваша музыка</h6>
            </div>
            <div class="col-md-4 justify-content-center">
                <button class="btn btn-primary" type="submit">Загрузить песню</button>
            </div>
        </div>

        <div class="row" style="margin-bottom: 50px">
            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>
        </div>

    <div class="row" style="margin-bottom: 50px">
            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>
        </div>

    <div class="row" style="margin-bottom: 50px">
            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>

            <div class="col-md-4">
                <div class="container justify-content-center">
                    <img style="width: 130px" src="{% static 'img/cover.jpg' %}">
                    <h6>Имя исполнителя</h6>
                    <h5>Название песни</h5>
                    <audio controls>
                        <source src="/music.mp3">
                        <p>Ваш браузер не поддерживает аудио</p>
                    </audio>
                </div>
            </div>
        </div>



    </div>
{% endblock %}