{% extends "core/wrapper.html" %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" id="regForm" method="post" action="{% url 'RegistrationFormView' %}">
                {% csrf_token %}

                <span class="heading">РЕГИСТРАЦИЯ</span>
                <div class="form-group">
                    <span class="has-float-label">
                        <label for="username">Логин</label>
                        {{ form.username }}
                    </span>
                </div>

                <div class="form-group messageError" id="usernameMessageError">
                      <div class="text"></div>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="email">Почта</label>
                        {{ form.email }}
                    </span>
                </div>

                <div class="form-group messageError" id="emailMessageError">
                      <div class="text"></div>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="last">Имя</label>
                        {{ form.firstname }}
                    </span>
                </div>

                <div class="form-group messageError" id="firstnameMessageError">
                      <div class="text"></div>
                </div>

                <div class="form-group">
                    <span class="has-float-label">
                        <label for="last">Фамилия</label>
                        {{ form.lastname }}
                    </span>
                </div>

                <div class="form-group messageError" id="lastnameMessageError">
                      <div class="text"></div>
                </div>

{##}
{#                <div class="form-group">#}
{#                    <span class="has-float-label">#}
{#                        <label for="phone">Номер телефона</label>#}
{#                        {{ form.phone }}#}
{#                    </span>#}
{#                </div>#}
{##}
{#                <div class="form-group messageError" id="phoneMessageError">#}
{#                      <div class="text"></div>#}
{#                </div>#}
{##}
                <div class="form-group">
                    <label for="password1">Пароль</label>
                    {{ form.password1 }}
                </div>

                <div class="form-group messageError" id="passwordMessageError">
                      <div class="text"></div>
                </div>

                <div class="form-group">
                    <label for="password2">Пароль повторно</label>
                    {{ form.password2 }}
                </div>

                <div class="form-group">
                    <label for="termsOfUse">Даете ли вы согласие на обработку <a href="termsofuse">персональных данных</a>?</label>
                    {{ form.termsOfUse }}
                </div>

                <div class="text-xs-center">
                    <button class="btn btn-block btn-default" type="submit" id="done" name="register" value="Register">Зарегистрироваться</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    {% if errorMessage != 'все нормально' %}
        <script>
            alert("{{ errorMessage }}")
        </script>
    {% endif %}

{% endblock %}