<h3>Предоставляя свои персональные данные Пользователь даёт согласие на обработку,
    хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г.
    в следующих целях:</h3>

<p>- Регистрации Пользователя на сайте</p>
<p>- Осуществление клиентской поддержки</p>

<h3>Под персональными данными подразумевается любая информация личного характера,
    позволяющая установить личность Покупателя такая как:</h3>

<p>- Фамилия, Имя</p>
<p>- Контактный телефон</p>
<p>- Адрес электронной почты</p>
<p>- Страна проживания</p>
<p>- Город проживания</p>
<h3>Персональные данные Пользователей хранятся исключительно на электронных носителях
    и обрабатываются с использованием автоматизированных систем, за исключением случаев,
    когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</h3>

<h3>Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:</h3>

<p>- По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке,
    установленным законодательством РФ</p>

<h3>Продавец оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии,
    что изменения не противоречат действующему законодательству РФ.
    Изменения условий настоящих правил вступают в силу после их публикации на Сайте.</h3>
