<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vibe Sound</title>
    <meta name="viewport" content="widht=device-width, initial-scale=1">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body style="background: white">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" style="margin-bottom: 10px;">
        <div class="container-fluid">

        {% if user.is_authenticated %}
            <div class="navbar-header">
                <a href="/profile/{{ user.username }}" class="navbar-brand"><img src="{% static 'img/l.png' %}" width="200px"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="input-group" style="max-width:300px">
                <input id="search_user_input" type="text" class="form-control" placeholder="Имя пользователя" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="search_user_button">Поиск</button>
                </div>
            </div>
        {% else %}
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img src="{% static 'img/l.png' %}" width="200px"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">

                    {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a href="/profile/{{ user.username }}" class="nav-link">Моя странница</a>
                        </li>

                        <li class="nav-item">
                            <a href="/musicsearch/" class="nav-link">Поиск песен</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'shop' %}" class="nav-link">Поиск товара</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" style="text-shadow: 1px 1px 4px lightpink;">{{ user.username }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a href="/" class="nav-link">Главная</a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'login' %}/" class="nav-link">Авторизация</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'RegistrationFormView' %}">Регистрация</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>

    {% block content %}

    {% endblock %}


</body>
</html>