{% extends "core/wrapper.html" %}

{% block content %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}

                    <span class="heading">Поиск музыки</span>


                    <div class="form-group">
                        {{ form.artist }}
                    </div>

                    <div class="form-group">
                        {{ form.title }}
                    </div>

                    <div class="text-xs-center">
                        <button class="btn btn-block btn-default" type="submit" id="find" name="findprod">Найти</button>
                    </div>


                    <div style="margin-top: 100px">
                        {% for song in songs %}
                        <div>
                            <img style="display: block; width: 115px; float: right;" src="{{song.image.url}}">
                            <h1 class="display-4">{{ song.artist }}</h1>
                            <h3>{{ song.title }}</h3>
                            <audio controls>
                                <source src="{{song.audio_file.url}}">
                                <p>Ваш браузер не поддерживает аудио</p>
                            </audio>
                            <div class="container row" style="background: grey; height: 1px; margin-top: 10px; margin-bottom: 10px;"><p></p></div>
                        </div>

                        {% endfor %}
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}