{% extends "core/wrapper.html" %}

{% block content %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}

                    <span class="heading">Поиск по магазину</span>


                    <div class="form-group">
                        {{ form.city }}
                    </div>

                    <div class="form-group">
                        {{ form.product }}
                    </div>

                    <div class="text-xs-center">
                        <button class="btn btn-block btn-default" type="submit" id="find" name="findprod">Найти</button>
                    </div>

                    {% for prod in shoppingData %}
                        <h1 class="display-4">{{ prod.0 }}</h1>
                        <h6>Цена: {{ prod.1 }} {{ prod.2 }}</h6>
                        <h6>Адрес: {{ prod.3 }}</h6>
                        <h6>Время публикации: {{ prod.4 }}</h6>
                        <h5><a href="{{ prod.5 }}">Ссылка на магазин</a></h5>
                        <div class="container row" style="background: grey; height: 1px; margin-top: 10px; margin-bottom: 10px;">
                            <p></p>
                        </div>
                    {% endfor %}

                </form>
            </div>
        </div>
    </div>

{% endblock %}